@{
    ViewData["Title"] = "Home Page";
}

<h2>GIWEB</h2>
<hr />
<h3>Seja bem vindo a sua plataforma Web de Gestão Imobiliária.</h3>

<h6>Selecione a operação desejada na barra de navegação a cima.</h6>